{% extends 'base.html' %}

{% load static %}

{% block scripts %}
<script src="{% static 'case-details.js' %}" charset="utf-8"></script>
{% endblock %}


{% block content %}

<h1>{{ case }}</h1>
<h2>Owned by: {{ case.owner.username }}</h2>
<p>
  {{case.description}}
</p>
<ul>
  {% for file in files %}
  <li><a href="{% url 'files:detail' file.id %}">{{ file }}</a></li>
  {% endfor %}
</ul>
<a id="edit-button" href="#">Edit</a>
<section id="edit-form" style="visibility:hidden;">
  <form action="/cases/{{ case.id }}/" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form }}
      <input type="submit" value="Submit">
  </form>
</section>

{% endblock %}
