<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{% block title %}Crime Wiki{% endblock %}</title>
  {% load static %}
  {% block stylesheets %} <link rel="stylesheet" href="{% static 'style.css' %}">
  {% endblock stylesheets %}
</head>
<body>
  <nav>
    {% block navigation %}
      <ul>
        <li>
          <a href="{% url 'index' %}">Home</a>
        </li>
        <li>
          <a href="{% url 'pages:index' %}">Cases</a>
        </li>
        <li>
          <a href="{% url 'files:index' %}">Files</a>
        </li>
        <li>
          {% block user %}
            {% include "users/navbar_widget.html" %}
          {% endblock user %}
        </li>
      </ul>

    {% endblock %}
  </nav>
  {% block content %}{% endblock %}
</body>
{% block scripts %}{% endblock %}
</html>
